.container{
    /* position: relative; */

}

.grey{
    width: 400px;
    height: 100px;
    background-color: grey;
    position: relative;
    }




.cyan{
    margin-top: 4px;
    margin-left: 4px;
    width: 90px;
    height: 90px;
    background-color: rgb(79, 150, 201);
    position: absolute;

}
.orange{
    margin-top: 8px;
    margin-left: 8px;
    width: 90px;
    height: 90px;
    background-color: rgb(201, 138, 79);
    position: absolute;
}