.container {
    display: flex;
    flex-direction: column;
    background-color: gray;
    width: 1280px;
    height: 780px;
    margin: auto;
    margin-top: 60px;
    margin-left: 14%;
    position: absolute;
    border-radius: 6px;
    background-color: white;


}
.leftSection {
    /* display: flex;
    flex-direction: column; */
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 240);
    position: absolute;
    border-radius: 12px;
}

.email {

}
#p_for_mail, #p_for_password{
    margin-top: 35px;
    width: 420px;
    height: 22px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    color: rgb(100, 100, 100);
  }
  #remember{
    color: aliceblue
  }

  /* .flexsub{
    display: flex;
    justify-content: center;
} */
.subbut {
    width: 100px;
    display: flex;
    justify-content: center;
    
}

.rightSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(24, 24, 24), rgb(171, 15, 232));
    position: absolute;
    margin-left: 50%;
    border-radius: 12px;

}

.logIn {
    text-align: center;
    margin-top: 220px;
    font-family: "Inknut Antiqua Handgloves", sans-serif, Times;
}

.form {
    margin-left: 100px;
    margin-top: 30px;
}
.helloFriend {
    text-align: center;
    font-family: "Oswald", Georgia, 'Times New Roman', Times, serif;
    font-size: 49px;
}
.regText {
    margin-top: -20px;
    text-align: center;
    font-family: "Oswald", Georgia, 'Times New Roman', Times, serif;
}

.regbutton {
    text-align: center;
    color: antiquewhite;
    border: 3px solid;
    width: 87px;
    height: 21px;
    border-radius: 16px; 
}
.rempass {
    /* margin-left: -339px; */
    display: flex;
    justify-content: space-between;

}

.lintpass{
    margin-right: 120px;
}

.socialIcons {
    display: flex;
    margin-top: 16px;
    justify-content: space-around;
    padding-left: 140px;
    padding-right: 140px;
}
