.container {
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: rgb(186, 186, 218);
    width: auto;
    height: 920px;

}
.Rsection {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.Msection {
display: flex;
justify-content: space-around;

}

.Lsection {
    display: flex;
    flex-direction: column;

}

.square {
    width: 90px;
    height: 90px;
    background-color: yellow;
    border: 3px solid black;
    margin: 20px;
}