.container {
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: rgb(186, 186, 218);
    width: auto;
    height: 920px;

}
.Rsection {
    background-color: aquamarine;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.Msection {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.Lsection {
    background-color: aquamarine;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.square {
    width: 90px;
    height: 90px;
    background-color: yellow;
    border: 3px solid black;
    display: flex;
    justify-content: space-between;
    
}