body{
    /* display: flex;
    flex-direction: column;
    align-items: center;     */
    color: white;
}
.navbar {
    background-color: rgb(14, 77, 91);
    display: flex;
    flex-direction: column;
    align-items: center;
}
p {
    font-weight: bolder;
    font-family: "Roboto";
}

.centerform {
    background-image: url("IMG_3544 copy.jpg");
    background-size: cover;
    width: 100%;
    height: 700px;
    margin-top: 12px ;
    font-size: 14px;
    background-color: rgb(168, 147, 188);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
}

input[type=text], select {
    
    width: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email], select {
    
    width: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit], select {
    /* display: flex;
    align-items: flex-start; */
    width: 550px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

input[type=text]:focus {
    background-color: lightblue;
  }


.form {

    width: 550px;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap; 
}
        .form-group {
            display: flex;
            justify-content: center;
            align-content: space-between;
            flex-wrap: wrap;
            gap: 10px;
}
.form-group > div {
    flex: 1; /* Each item takes equal space in the row */
    box-sizing: border-box; /* Include padding and border in the width */
}

label {
    font-weight: bolder;
    font-family: "Roboto";
}