.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 1090px;
    height: 1480px;
    position: absolute;
}

.leftColumn {
    background-color: rgb(146, 146, 146);
    width: 66%;
    height: 99.4%;
    position: absolute;
    margin: 3px;
    margin-bottom: 3px ;
}

.name {
    width: 99.2%;
    height: 8%;
    background-color: rgb(255, 255, 255);
    margin: 2px;
}
.nameImg {
    margin-left: 24px;
    height: 100%;
}

.work {
    width: 99.2%;
    height:81%;
    background-color: rgb(255, 255, 255);
    margin: 2px;
    
    margin-top: -54px;
}

.time_inpar{

}
.init{
    font-weight: bold;
	font-size: 25px;
	font-style: oblique 10deg;
	margin-top: inherit;
	padding-top: 8px;


}
p {
    margin-left: 7px;
    
    
}
.sub_init{
    font-weight: bold;
	font-size: 16px;
}

.init_add{
	font-weight: bold;
	font-size: 20px;
}

.misc {
    margin:0;
    padding:0;
    width: 99.2%;
    height: 8.1%;
    background-color: rgb(255, 255, 255);
    margin: 2px;
    margin-top: -50px;
    font-size: ;
}


.rightCulomn {
    background-color: rgb(163, 163, 163);
    width: 33%;
    height: 99.4%;
    position: absolute;
    margin:3px 66.7%;
}

.portrait {
    display: flex;
    justify-content: center;
    width: 98.0%;
    height: 8%;
    background-color: rgb(255, 255, 255);
    margin: 3px;
}

.portraitImg {
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 13%;

}
.information {
    width: 98.0%;
    height: 15%;
    background-color: rgb(255, 255, 255);
    margin: 3px;
    margin-top: -9px;
}

.education {
    margin-top: -42px;
    width: 98.0%;
    height: 20%;
    background-color: rgb(255, 255, 255);
    margin: 3px;
    margin-top: -9px;
}
.skills{
    margin-top: -100px;
    width: 98.0%;
    height: 33%;
    background-color: rgb(255, 255, 255);
    margin: 3px;
}

h4 {
    margin: 12px 12px;
    font-size: 34px;
    }

h5 {
    margin-left: 25px;
    font-size: 34px;
    font-family: 'Teko', sans-serif
}
ul {
	font-weight: initial;
	font-size: 14px;
	margin-top: -7px;
}
