body{
    background-image: url("world-map-306338_1280.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;

}

.bodylike {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

article{
    height: 75px;
}
.grid-col-span-2 {
    grid-column: span 3;
}
.container {
    width: 1550px;
    height: 720px;
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 2fr);
}
.flexcard {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: brown; */
}
.el1 {
    /* background-image: url("IMG_3544 copy.jpg"); */
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    font-size: 46px ;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

}
.imgfirst {
    width: 220px;
    border-radius: 8px;

}

.row2-numerical-information {
    text-align: center;
    font-size: 46px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: rgb(169, 130, 248);
    display: flex;
    flex-direction: column-reverse;   
}


.row3-information{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    opacity: 0.5;
}

img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -24px;
}

.statecard {
    background-color: rgb(252, 222, 217);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;

 }

.statement {
    border-radius: 7px;
    text-align: center;
    background-color: rgb(246, 233, 217);
    width: 200px;
    padding: 10px;
}
.el11 {
    margin-top: -110px;
}

.el12{
    background-color: rgb(186, 240, 240);
}

.el13{
    margin-top: -50px;
    background-color: rgb(210, 242, 210);
}